.hero {
  @apply grid grid-cols-1 md:grid-cols-2 gap-4 relative;

  &-home {
    &::before {
      content: "";
      @apply absolute bg-gradient-to-bl from-primary to-transparent -right-40 -top-96 rounded-full md:-top-56;
      width: 700px;
      height: 700px;
    }

    .hero-text {
      @apply order-2 md:order-1 -mt-36 md:mt-0;
    }

    .hero-image {
      @apply order-1 md:order-2;
    }
  }

  &-page {
    @apply gap-8 md:gap-24 mb-10 md:mb-20 -mt-4 md:-mt-8;

    &::before {
      content: "";
      @apply absolute rounded-full -top-[520px] md:-top-[450px];
      width: 800px;
      height: 800px;
    }

    &.left::before {
      @apply -left-48 sm:-left-52 md:-left-72 lg:-left-56;
    }

    &.right::before {
      @apply -right-44;
    }

    &.primary::before {
      @apply bg-gradient-to-br from-secondary to-light md:bg-primary md:from-primary md:to-primary;

      &.right {
        @apply -right-20 md:-right-72 lg:-right-44 from-light to-secondary via-light md:from-primary md:to-secondary md:via-primary;
      }
    }

    &.light::before {
      @apply bg-gradient-to-bl from-light to-light md:from-transparent md:to-light;
    }

    .hero-text {
      @apply mt-0 lg:mt-4 relative max-w-sm;

      .page-title {
        @apply mb-8 mt-4 uppercase text-2xl;
      }
    }

    .hero-intro {
      @apply text-lg font-sans-demi-bold mt-0 md:mt-16 relative;
      a {
        @apply text-primary font-sans-demi-bold;
      }
    }

    &.primary {
      .hero-text {
        @apply text-black md:text-white;
      }
    }

    &.right {
      .hero-text {
        @apply order-1 md:order-2 text-left md:text-right mr-10 2xl:mr-0;
      }

      .hero-intro {
        @apply order-2 md:order-1;
      }
    }
  }

  &-image {
    @apply relative;
    min-height: 24rem;
  }

  .image {
    @apply absolute w-60 h-60 bg-cover bg-no-repeat bg-center
      rounded-full left-4 md:-left-4 -top-8 md:-bottom-4 md:w-96 md:h-96;
  }

  .page-title {
    font-variant: small-caps;
  }

  .headline {
    @apply my-8 font-sans-demi-bold;
  }

  &.primary .headline {
    a {
      @apply underline;
    }
  }
}
