header {
  @apply max-w-screen-fill py-10 lg:py-7;
  grid-area: header;
}

main {
  @apply max-w-screen-fill w-content mx-auto px-4 relative;
  grid-area: main;
}

footer {
  @apply bg-primary;
  grid-area: footer;
}

.body {
  @apply grid min-h-screen;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

p {
  @apply mb-4;
}

.full-width {
  @apply w-screen left-1/2 right-1/2 pt-12 -z-10;

  margin-left: calc(-50vw + 50%);

  .social-media-links + & {
    @apply pt-20;
  }

  &.light {
    @apply bg-gradient-to-b from-light to-white;
  }

  &.light-primary {
    @apply bg-gradient-to-b from-light-primary to-white;
  }

  > * {
    @apply max-w-screen-fill lg:w-content mx-auto px-4;
  }
}
