header.header {
  box-shadow: 0px 10px 28px -4px rgba(64, 21, 284, 0.3);

  @apply text-black bg-gradient-to-r
    from-light to-light-primary z-40 relative;

  .header-container {
    @apply max-w-full lg:w-content px-4 mx-auto grid grid-cols-3 gap-2 xs:gap-4 items-center justify-items-start;
    grid-template-columns: max-content max-content 1fr;
  }

  h1 {
    @apply text-lg xs:text-2xl;

    @screen sm {
      text-shadow: 0 0 7px var(--light), 0 0 10px var(--light),
        0 0 22px var(--light), 0 0 42px var(--secondary);
    }
  }

  .custom-logo {
    @apply w-48 h-auto lg:w-56 block relative -top-6 lg:-top-[38px] -left-5 lg:-left-6;
    img {
      @apply absolute;
    }
  }

  .menu {
    @apply gap-0 text-white font-sans-demi-bold hidden lg:flex justify-self-end;

    .menu-item {
      @apply block relative hover:border-b-secondary border-b-4 border-b-transparent
      transition-all duration-300;
    }

    .current-menu-item,
    .current-page-parent {
      @apply hover:border-b-transparent;
    }

    & > .menu-item .sub-menu {
      @apply absolute opacity-0 overflow-hidden transition-all duration-500 delay-200
        top-8 left-0 ml-4 shadow-md shadow-primary bg-white text-black
        rounded-sm py-2 px-4 -mt-2 border border-primary -translate-y-full;

      .menu-item {
        @apply relative border-b-0;

        a {
          @apply px-4 pb-2 -ml-4 -mr-4 border-none rounded-none block;
        }

        &:hover {
          @apply border-b-transparent;
          &::after {
            content: "";
            @apply absolute w-full h-1 bottom-1.5 left-0 bg-secondary;
          }
        }

        &::after {
          content: "";
          @apply absolute w-full h-1 bottom-1.5 left-0 bg-transparent transition-all duration-300;
        }
      }

      .menu-item.current-menu-item a {
        @apply border-none rounded-none from-light to-light bg-light block;
      }

      a {
        text-shadow: none;
      }
    }

    & > .menu-item:hover .sub-menu {
      @apply opacity-100 z-10 translate-y-0;
    }
  }

  .mobile-menu-toggle {
    @apply fixed right-2 top-4 block lg:hidden bg-white rounded-full p-2 z-10 border-4;
    img {
      @apply w-6 h-6 cursor-pointer;
    }
  }

  .mobile-menu {
    @apply fixed w-full h-full left-0 top-0 p-8 bg-white bg-opacity-95 lg:hidden overflow-y-scroll;

    .menu-item {
      @apply my-4 font-sans-demi-bold text-black;
      a {
        text-shadow: none;
      }
    }

    .current-menu-item a {
      @apply border-0 border-b-4 m-2;
    }

    .sub-menu {
      @apply ml-4;
    }
  }
  .menu-item a {
    @apply p-2 border-t-8 border-r-8 border-l-8 border-transparent text-black;
  }
  .current-menu-item > a,
  .menu-item.current-page-parent > a {
    @apply text-black p-2 bg-gradient-to-b from-light to-white
        rounded-3xl rounded-tl-none border-secondary;
    text-shadow: none;
  }
}
