section {
  @apply my-20;

  &.intro {
    @apply block md:grid grid-cols-1 md:grid-cols-2 gap-8;

    .image {
      @apply bg-cover bg-no-repeat h-36 w-full sm:w-36 md:h-full md:w-full
      float-left md:float-none mr-4 mb-2 md:mr-0 md:mb-0;
    }
  }

  &.section-block {
    @apply mt-8 grid xs:grid-cols-3 gap-4 sm:gap-8;

    &.left {
      & > *:nth-of-type(1) {
        @apply order-2;
      }

      & > *:nth-of-type(2) {
        @apply order-1;
      }
      @screen xs {
        & > *:nth-of-type(1) {
          @apply order-1;
        }

        & > *:nth-of-type(2) {
          @apply order-2;
        }
      }
    }

    &.right {
      & > *:nth-of-type(1) {
        @apply order-2;
      }

      & > *:nth-of-type(2) {
        @apply order-1;
      }

      .sub-title {
        &.light::after {
          @apply from-transparent to-light;
        }

        &.primary::after {
          @apply from-transparent to-primary;
        }
      }

      .block-image {
        &.circle-light::after {
          @apply -left-10;
        }
      }
    }

    .block-image {
      @apply bg-cover bg-no-repeat bg-center rounded-full h-52 w-52
        max-w-full max-h-full relative justify-self-center;

      &.square {
        @apply rounded-none;
      }

      &.fit {
        @apply bg-contain max-w-[150px] max-h-[150px];
      }

      &.circle-light::before,
      &.circle-light::after {
        content: "";
        @apply absolute -top-4 rounded-full -z-10;
        height: calc(100% + 2rem);
        width: calc(100% + 2rem);
      }

      &.circle-light::before {
        @apply -left-4 bg-light;
      }

      &.circle-light::after {
        @apply left-2 bg-secondary -z-20 opacity-50;
      }
    }

    .block-text {
      p {
        @apply my-8;
      }
    }

    .sub-title {
      @apply relative mb-6;

      &::after {
        content: "";
        @apply absolute left-0 -bottom-4 w-full h-2 bg-gradient-to-r;
      }

      &.light::after {
        @apply from-light to-transparent;
      }

      &.primary::after {
        @apply from-primary to-transparent;
      }
    }

    .button {
      &.light {
        @apply bg-light border-2 border-secondary text-black;
      }
    }
  }
}
