section {
  @apply my-20;

  &.intro {
    @apply block md:grid grid-cols-1 md:grid-cols-3 gap-8 mt-32;

    .image {
      @apply bg-cover bg-no-repeat h-36 w-full sm:w-36 md:h-full md:w-full
      float-left md:float-none mr-4 mb-2 md:mr-0 md:mb-0;

      &.fit {
        @apply bg-contain;
      }
    }

    .text {
      @apply col-span-2;
    }
  }

  &.section-block {
    @apply mt-8 grid xs:grid-cols-3 gap-4 sm:gap-8;

    &.left {
      & > *:nth-of-type(1) {
        @apply order-2;
      }

      & > *:nth-of-type(2) {
        @apply order-1;
      }
      @screen xs {
        & > *:nth-of-type(1) {
          @apply order-1;
        }

        & > *:nth-of-type(2) {
          @apply order-2;
        }
      }
    }

    &.right {
      & > *:nth-of-type(1) {
        @apply order-2;
      }

      & > *:nth-of-type(2) {
        @apply order-1;
      }

      .sub-title {
        &.light::after {
          @apply from-transparent to-light;
        }

        &.primary::after {
          @apply from-transparent to-primary;
        }
      }

      .block-image {
        &.circle-light::after {
          @apply -left-10;
        }
      }
    }

    .block-image {
      @apply h-48 w-48 max-w-full max-h-full relative justify-self-center self-center;

      .image {
        @apply bg-cover bg-no-repeat bg-center rounded-full h-full w-full relative z-30;
      }

      &.square .image {
        @apply rounded-none;
      }

      &.fit .image {
        @apply bg-contain;
      }

      &.circle-light::before,
      &.circle-light::after,
      &.circle-primary::before,
      &.circle-primary::after {
        content: "";
        @apply absolute -top-4 rounded-full;
        height: calc(100% + 2rem);
        width: calc(100% + 2rem);
      }

      &.circle-light::before,
      &.circle-primary::before {
        @apply -left-4 bg-light z-10;
      }

      &.circle-light::after,
      &.circle-primary::after {
        @apply left-2 bg-secondary opacity-50;
      }

      &.circle-primary::before {
        @apply bg-light-primary;
      }
      &.circle-primary::after {
        @apply bg-primary;
      }
    }

    .block-text {
      p {
        @apply my-8;
      }
    }

    .sub-title {
      @apply relative mb-6;

      &::after {
        content: "";
        @apply absolute left-0 -bottom-4 w-full h-2 bg-gradient-to-r from-transparent to-transparent;
      }

      &.light::after {
        @apply from-light to-transparent;
      }

      &.primary::after {
        @apply from-primary to-transparent;
      }
    }

    .button {
      &.light {
        @apply bg-light border-2 border-secondary text-black;
      }
    }
  }
}
