.slider {
  @apply my-20;
  max-width: calc(100vw - 3rem);

  .testimonials.swiper {
    @apply mx-auto sm:w-full max-w-2xl relative -mt-6;

    .swiper-wrapper {
      @apply sm:mb-16 relative;
    }

    .swiper-slide {
      @apply px-4 sm:px-14 py-10 mt-4 pr-0 overflow-visible relative;

      &::before {
        content: '"';
        @apply absolute left-1 top-0 font-sans-bold text-8xl -rotate-12 text-primary;
      }

      &::after {
        content: '"';
        @apply absolute top-0 right-0 font-sans-bold text-8xl rotate-6  text-primary;
      }
    }

    .swiper-pagination {
      @apply bottom-0;

      &-bullet {
        @apply w-6 h-6 border-4 border-primary bg-light opacity-100 mx-2;

        &-active {
          @apply bg-primary;
        }
      }
    }

    .testimonial-name {
      @apply font-sans-demi-bold relative bg-white inline-block mb-2 px-2 rounded-sm;
    }

    .testimonial-text {
      @apply bg-light border-8 border-primary p-4 relative min-h-[150px] max-h-[250px] overflow-y-scroll overflow-x-hidden;

      scrollbar-width: thin;
      scrollbar-color: var(--primary) var(--light-primary);

      &::-webkit-scrollbar {
        @apply w-2.5 border-2 border-white;
      }
      &::-webkit-scrollbar-track {
        @apply m-1 rounded-md bg-white hover:bg-light-primary;
      }

      &::-webkit-scrollbar-track:active {
        @apply bg-light-primary;
      }

      &::-webkit-scrollbar-thumb {
        @apply rounded-md bg-secondary hover:bg-primary active:bg-primary;
      }
    }

    .angled-background {
      @apply hidden sm:block absolute bg-primary left-12 top-16 -rotate-12 origin-center;
      height: calc(100% - 5rem);
      width: calc(100% - 5rem);
    }
  }
}
