@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #4015b8;
  --secondary: #02b812;
  --light: #e7f8e9;
  --light-primary: #dbd3f2;
}

@import "./fonts";
@import "./icons";
@import "./navigation";
@import "./buttons";
@import "./footer";
@import "./layout";
@import "./hero";
@import "./section";
@import "./cards";
@import "/node_modules/swiper/swiper-bundle.css";
@import "./slider";
@import "./mission";
@import "./form";
@import "./triad";
@import "./posts";

html,
body {
  @apply overflow-x-hidden w-full;
}

body {
  @apply font-sans-regular;
}

html {
  font-size: 18px;
}
